<h1>Hello! These are all the Locations!</h1>
 <% @locations.each do |t|%>
  <%= link_to t.company.name, location_path(t.id) %> <br>
  <%= t.address %> <br>
  <%= t.location_rating %><br><br>
<% end %>
